@use "../_abstract/variables" as *;
@use "../_abstract/mixins" as *;

.customer {
  --mt: 1.6rem;
  padding-inline: 3.3rem;
  padding-block: 4rem 3rem;
  max-width: 35rem;
  height: 24.8rem;

  background-color: $primary-magenta;
  border-radius: 0.7rem;

  &:nth-child(2) {
    margin-top: var(--mt);
  }

  &:nth-child(3) {
    margin-top: calc(var(--mt) * 2);
  }

  @include breakpoint {
    margin-block-end: 2rem;
  }

  &-info {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &-name {
    margin-inline-start: 2.4rem;
    font-size: 1.1rem;

    & h3 {
      font-weight: $fw-bold;
      color: $white;
    }

    & span {
      font-weight: $fw-medium;
      color: $primary-pink;
    }
  }

  &-review {
    margin-block-start: 2.8rem;
    font-size: 1.6rem;
    color: $white;
    font-weight: $fw-normal;
  }
}
